---
---
<html lang="en">
<head>
  {% include htmlhead.html %}
  <title>Nelson Almendra | Divide by Box</title>
</head>
<body>
	<div class="site-container">
		{% include header.html %}
		<div class="site-content">
			<h2>Divide by Box</h2>
			<a href="https://play.google.com/store/apps/details?id=com.nelsonalmendra.dividebybox" target="_blank">
				<img width="160" alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/generic/en-play-badge.png" />
			</a>
			<p>Divide by Box is a puzzle game that I've made in my spare time and it's available on the Google Play<sup>TM</sup> store.</p>
			<p>The game has 6 different levels starting in 5x5 (5 rows per 5 columns) until 10x10 which is the highest difficulty. The objective is to divide the grid into rectangular and square pieces such that each piece contains exactly one number, and that number represents the area of the rectangle.</p>
			<p>It was built using the <a href="http://unity3d.com" target="_blank">Unity3D</a> engine.</p>
			<p>Feel free to try it out and leave feedback. Hope you enjoy it.</p>
			<p><em>Google Play is a trademark of Google Inc.</em></p>
		</div>
		{% include footer.html %}
	</div>
</body>
</html>