---
---
<html lang="en">
<head>
  {% include htmlhead.html %}
  <title>Nelson Almendra</title>
</head>
<body>
	<div class="site-container">
		{% include header.html %}
		<div class="site-content">
			<h2>About</h2>
			<p>Hi, my name is Nelson Almendra and I'm from Lisbon, Portugal. I'm currently working as a Android Developer at <a href="http://www.tekever.com" target="_blank">Tekever</a>.</p>
			<p>My areas of interest are Mobile, Web and Videogames. I'm always willing to learn new languages, technologies and methodologies and I always try to read a programming book whenever I can.</p>
		</div>
		{% include footer.html %}
	</div>
</body>
</html>