<div class="site-footer">
	<a href="https://www.facebook.com/nelsonalmendra" title="Facebook" target="_blank">
		<img src="icons/facebook_circle_color.png" width="32" height="32" alt="Facebook">
	</a>
	<a href="https://www.linkedin.com/in/nelsonalmendra" title="LinkedIn" target="_blank">
		<img src="icons/linkedin_circle_color.png" width="32" height="32" alt="LinkedIn">
	</a>
	<a href="https://twitter.com/NelsonAlmendra" title="Twitter" target="_blank">
		<img src="icons/twitter_circle_color.png" width="32" height="32" alt="Twitter">
	</a>
	<a href="mailto:nelsonalmendra@gmail.com" title="Email" target="_blank">
		<img src="icons/mail_circle_color.png" width="32" height="32" alt="Email">
	</a>
</div>